.about-me{
  background-color: #ee9d12;
  width: 45%;
  height: 1200px;
}

.about-me--title{
  font-family:  'Sacramento', cursive;
  font-size: 100px;
	margin: 0;
  padding-left: 150px;
  padding-top: 400px;
}

.about-me--img{
	border-radius: 50%;
	height: 450px;
  width: 450px;
  margin-left: 200px;
  margin-top:100px; 
  margin-bottom: 100px;
}

.about-me--info{
  float: right;
  height: 1180px;
	margin-top: -1180px;
  margin-right: 50px;
  overflow: scroll;
  width: 50%;
}

.about-me--info::-webkit-scrollbar{
  width: 7px;
}

.about-me--info::-webkit-scrollbar-thumb{
  background-color:white;
  border-radius: 5px;
}

.about-me--info-text{
  font-family: 'Libre Franklin', sans-serif;
}