.about-me {
  background-color: #ee9d12;
  width: 45%;
  height: 1200px;
}

.about-me--title {
  font-family:  'Sacramento', cursive;
  font-size: 100px;
	margin: 0;
  padding-left: 150px;
  padding-top: 400px;
}

.about-me--img {
	border-radius: 50%;
	height: 450px;
  width: 450px;
  margin-left: 200px;
  margin-top:30px; 
  margin-bottom: 30px;
}

.about-me--sub-title {
  font-family: 'Libre Franklin', sans-serif;
  font-size: 80px;
  font-weight: bold;
  margin: 0;
}

.about-me--info {
  float: right;
  font-size: 18px;
  height: 1180px;
	margin-top: -1180px;
  margin-right: 50px;
  overflow: scroll;
  width: 50%;
}

.about-me--secction {
  border: 2px solid #ee9d12;
  margin-top: 50px;
  margin-left:200px; 
  width: 50%;
}

.about-me--secction-title {
  color: #ee9d12;
  font-family: 'Libre Franklin', sans-serif;
  font-size: 25px;
  padding:0;
  text-align: center;
}

.about-me--secction-list {
  background-color: #ee9d12;
  font-family: 'Libre Franklin', sans-serif;
  list-style:none;
  margin: 0;
}

.about-me-secction-img {
  margin-left: 180px;
  margin-top: 20px;
  padding: 0;
  width: 100px;
}

.about-me--secction-list-option{
  padding-bottom: 10px;
  padding-top: 10px;
}

.about-me--info::-webkit-scrollbar {
  width: 7px;
}

.about-me--info::-webkit-scrollbar-thumb {
  background-color:white;
  border-radius: 5px;
}

.about-me--info-text {
  font-family: 'Libre Franklin', sans-serif;
}