.content {
  margin-bottom: 300px;
}

.content--title {
  font-family: 'Sacramento', cursive;
  font-size: 70px;
  text-align: center;
}

.content--subTitle{
  font-family: 'Sacramento', cursive;
  font-size: 40px;
  text-align: center;
}

.content--sections {
  margin-top: 200px;
}

.content--sections-about-me {
  display: inline-block;
  margin-left: 7%;
}

.content--sections-about-me a:hover {
	color: #008290;
	padding-left: 3px;
}

.content--sections-about-me-img {
	color: transparent;
  border: 1px solid #008290;
  border-radius: 50%;
  height: 300px;
  width: 300px;
}


.content--sections-about-me-title {
  font-family: 'Sacramento', cursive;
  font-size: 45px;
  margin-left:50px; 
}

.content--sections-works {
  display: inline-block;
  margin-left: 15%;
}

.content--sections-works a:hover {
	color: #008290;
	padding-left: 3px;
}

.content--sections-works-img {
  border: 1px solid #008290;
  border-radius: 50%;
  margin-left: 100px;
  height: 300px;
  width: 300px;
}

.content--sections-works-title{
  font-family: 'Sacramento', cursive;
  font-size: 45px;
  margin-left: 195px; 
}

.content--sections-git-hub {
  display: inline-block;
}

.content--sections-git-hub a:hover {
	color: #008290;
	padding-left: 3px;
}
.content--sections-git-hub-img {
  border: 1px solid #008290;
  border-radius: 50%;
  margin-left: 100px;
  height: 300px;
  width: 300px;
}

.content--sections-git-hub-title {
  font-family: 'Sacramento', cursive;
  font-size: 45px;
  margin-left: 195px; 
}