.works{
  background-color: #008290;
  height: 1200px;
  padding: 0;
  margin: 0;
  width: 50%;
}

.works--title{
  font-family:  'Sacramento', cursive;
  font-size: 100px;
  margin: 0;
  padding-left: 260px;
  padding-top: 400px;
}

.works--img{
  float: right;
  height: 1150px;
  margin-top: -1180px;
  overflow: scroll;
  width: 45%;
}

.works--img::-webkit-scrollbar{
  width: 7px;
}

.works--img::-webkit-scrollbar-thumb{
  background-color:white;
  border-radius: 5px;
}

.works--img-psd{
  border: 2px solid #6ca500;
	border-radius: 50%;
  height: 300px;
  margin-left: 200px;
  margin-top: 50px;
	width: 300px;
}
