.works--title{
  font-family:  'Sacramento', cursive;
  font-size: 100px;
  margin: 0;
  text-align: center;
}

.works--img::-webkit-scrollbar{
  width: 7px;
}

.works--img::-webkit-scrollbar-thumb{
  background-color:white;
  border-radius: 5px;
}

.works-info{
  margin: 0 auto;
  width: 960px;
}
