.about-me{
    background-color: cadetblue;
    width: 50%;
    height: 900px;
}

.about-me--title{
    font-family:  'Sacramento', cursive;
    font-size: 100px;
    margin: 0;
    padding-left: 100px;
    padding-top: 400px;
}

.about-me--img{
    width: 50%;
    height: 400px;
    float: right;
    margin-top: -900px;
}

.about-me--info{
    width: 50%;
    float: right;
    margin-top: -500px;
}