.about-me--title {
  color: #008290;
  font-family: 'Sacramento', cursive;
  font-size: 50px;
  margin: 0;
  padding: 3%;
  text-align: center;

  @media (min-width: 768px){
    font-size: 70px;
  }  
  @media (min-width: 1440px){
    font-size: 90px;
    padding-bottom: 5%;
  }
}

.about-me--img {
  width: 100%;

}

.about-me--sub-title {
  color: #008290;
  font-family: "Libre Franklin", sans-serif;
  font-size: 40px;
  font-weight: bold;
  margin: 1%;
  padding: 3%;

  @media (min-width: 768px){
    font-size: 55px;
  }
  @media (min-width: 1440px){
    font-size: 70px;
  }
}

.about-me--info {
  font-size: 1rem;
  width: 100%;
  @media (min-width: 768px){
    font-size: 2rem;
  }
}

.about-me--info-text {
  font-family: "Libre Franklin", sans-serif;
  letter-spacing: 2px;
  padding:  2% 10% 2% 10%;
  @media (min-width: 1440px){
    display: inline-block;
    padding:  2% 0 2% 2%;
    vertical-align: top;
    width: 45%;
  }
}

.wapper-text {
  @media (min-width: 1440px){
    padding-left: 10%;
  }
}

.about-me--secction {  
  display: inline-block;
  margin-left: 9%; 
  margin-top: 2%;
  margin-bottom: 10%;
  width: 80%;
  @media (min-width: 1440px){
    width: 35%;
  }
}

.about-me--secction:first-child {
  margin-left: 0;
}

.about-me--secction-title {
  font-family: "Libre Franklin", sans-serif;
  font-size: 25px;
  padding: 0;
  text-align: center;
  @media (min-width: 768px){
    font-size: 40px;
  }
}

.about-me--secction-list {
  font-family: "Libre Franklin", sans-serif;
  list-style: none;
  margin: 0;
  padding-left: 11%;
}

.about-me-secction-img {
  height: 80px;
  margin-left: 34%;
  margin-top: 10%;
  padding: 0;
  width: 30%;

}

.about-me--secction-list-option {
  padding-bottom: 10px;
  padding-top: 10px;
}

.csize {
  height: 80px;
}

.dcolora {
  border: 2px solid #008290;
}

.dcolora-title {
  color: #008290;
}

.dcolora-ul {
  background-color: #008290;
}

.dcoloram {
  border: 2px solid #fbb500;
}

.dcoloram-title{
  color: #fbb500;
}

.dcoloram-ul {
  background-color: #fbb500;
}

.wapper-img {
  @media (min-width: 768px){
    height: 300px;
    overflow: hidden;
  }
  @media (min-width: 1440px){
    height: 600px;
    overflow: hidden;
  }
}
