.footer {
  border-top: 10px solid #fbb500; 
  margin: 0;
  padding-top: 50px;
}

.footer--content {
  margin: 0;
  padding-bottom: 30px;
}

.footer--contact-info {
  font-family: "Libre Franklin", sans-serif;
  font-size: 14px;
  margin: 0;
  padding: 20px 30px;
  text-align: center;
  @media (min-width: 768px){
    font-size: 1.5rem;
  }
}

.footer--social {
  display: inline;
  margin-left: 44%;
  margin-right: 200px;
}

.footer--social-media {
  padding-bottom: 50px;
  width: 50px;
}

.footer--social-media + .footer--social-media {
  margin-left: 30px;
}