.git-hub--info {
  font-size: 18px;
  margin: 0 auto;
  width: 960px;
}

.git-hub--title {
  color: #008290;
  font-family:  "Sacramento", cursive;
  font-size: 100px;
  margin: 0;
  padding: 0;
  text-align: center;
}
  
.git-hub--info-content {
  background-color: #fbb500;
  border-radius: 17px;
  font-family: "Libre Franklin", sans-serif; 
  width: 100%;
}

.pdnT {
  font-family: "Libre Franklin", sans-serif; 
  padding-left: 5%;
  padding-top: 5%;
}

.pdnL {
  font-family: "Libre Franklin", sans-serif; 
  padding-left: 5%;
  padding-right: 5%;
  padding-top: 1%;
}


.pdnB {
  font-family: "Libre Franklin", sans-serif; 
  padding-bottom: 5%;
  padding-left: 5%;
  padding-top: 2%;
}
