a, .header--nav-menu-menu-option {
  color: black;
  text-decoration: none;
  transition: 2s;
}

.header {
  width: 100%;
}

.header-secction {
  border-bottom: 10px solid #fbb500;
}

.header--nav-logo-img {
  margin-left: 40%;
  margin-top: 2%;
  width: 25%;

  @media (min-width: 1440px){
    width: 14%;
  }
}

.header--nav-menu {
  margin-left: 26%;
  text-align: center;
  width: 50%;

  @media (min-width: 768px){
    margin-left: 8%;
    text-align: center;
    width: 80%;
  }
}

.header--nav-menu-menu {
  font-size: 1.2rem;
  margin: 0;
  padding: 0;
}

.header--nav-menu-menu {
  list-style: none;
}

.header--nav-menu-menu-option { 
  color: black;
  display: block;
  font-family: 'Libre Franklin', sans-serif;
  padding-top: 15%;
  padding-bottom: 10%;
  text-transform: uppercase;
  text-decoration: none;
  transition: 2s;

  @media (min-width: 768px){
    display: inline-block;
    font-size: 1.5rem;
    padding-top: 10%;
  }
  @media (min-width: 1440px){
    font-size: 2rem;
    padding-bottom: 5%;
  }
}


.header--nav-menu-menu-option + .header--nav-menu-menu-option {
  @media (min-width: 768px){
    padding-left: 50%;
  } 
}


.header--nav-menu-menu-option a:hover {
  background-color: #fbb500;
  display: block; 
  padding: 3%;
  transition: 2s;
}
