.works--title {
  color: #008290;
  font-family: "Sacramento", cursive;
  font-size: 50px;
  margin: 0;
  text-align: center;
}

.works-info{
  text-align: center;
}

.works--info-list{
  list-style: none;
  margin: 0;
  padding: 0;
}

.works--info-list-item{
  background-color: #008290; 
  display: inline-block;
  margin-bottom: 5%;margin-left: 1%;
  padding-bottom: 2%;
  width: 90%;
}


.works--info-list-item-img{
  padding-top: 10%;
  width: 40%;
}

.img-size {
  width: 33%;
  padding-top: 5.5%;
}

.works--info-list-item-texto {
  background-color: #fbb500;
  font-family: "Libre Franklin", sans-serif;
  font-size: 1rem;
  margin: 10%;
  padding: 10%;
}

.works--info-list-item-link-img {
  width: 10%;
}
