.img-size {
  width: 33%;
  padding-top: 6%;
  padding-left: 36%;
}

.works--title {
  font-family: "Sacramento", cursive;
  font-size: 100px;
  margin: 0;
  text-align: center;
}

.works-info{
  margin: 0 auto;
  width: 960px;
}

.works--info-list{
  list-style: none;
}

.works--info-list-item{
  background-color: #008290; 
  display: inline-block;
  margin-top: 5%; 
  margin-right: 5%;
  padding-bottom: 2%;
  width: 30%;
}

.works--info-list-item-img{
  padding-left: 25%;
  padding-top: 10%;
  width: 40%;
}

.works--info-list-item-texto {
  background-color: #fbb500;
  font-family: "Libre Franklin", sans-serif;
  margin: 10%;
  padding: 10%;
}

.works--info-list-item-link-img {
  width: 10%;
}

.works--info-list-item-link {
  padding-left: 25%;
}