.header {
  width: 100%; }

.header-secction {
  border-bottom: 10px solid #fbb500; }

.header--nav-logo {
  text-align: center;
  display: inline; }

.header--nav-logo-img {
  width: 10%;
  margin-top: 2%;
  margin-left: 46%; }

.header--nav-menu {
  text-align: center;
  width: 100%; }

.header--nav-menu-menu {
  margin: 0;
  padding: 0;
  font-size: 25px; }

.header--nav-menu-menu {
  list-style: none; }

.header--nav-menu-menu-option {
  color: black;
  display: inline-block;
  font-family: 'Libre Franklin', sans-serif;
  padding-top: 2%;
  padding-bottom: 2%;
  text-transform: uppercase;
  text-decoration: none;
  width: 10%; }

.header--nav-menu-menu-option + .header--nav-menu-menu-option {
  padding-left: 3%; }

a, .header--nav-menu-menu-option {
  color: black;
  text-decoration: none; }

.header--nav-menu-menu-option a:hover {
  display: block;
  background-color: #fbb500;
  padding: 3%; }

.content {
  margin-bottom: 5%;
  text-align: center; }

.content--title {
  font-family: 'Sacramento', cursive;
  font-size: 70px;
  text-align: center; }

.content--subTitle {
  font-family: 'Sacramento', cursive;
  font-size: 40px;
  text-align: center; }

.content-img {
  padding-top: 5%; }

.content--nav-menu {
  margin-top: 5.7%;
  text-align: center;
  width: 100%; }

.content--nav-menu-menu {
  margin: 0;
  padding: 0;
  font-size: 25px; }

.content--nav-menu-menu {
  list-style: none; }

.content--nav-menu-menu-option {
  color: black;
  display: block;
  font-family: 'Libre Franklin', sans-serif;
  padding: 3%;
  text-transform: uppercase;
  text-decoration: none; }

a, .content--nav-menu-menu-option {
  text-decoration: none;
  color: black; }

.content--nav-menu-menu-option a:hover {
  padding: 1%;
  background-color: #fbb500; }

.footer {
  border-top: 10px solid #fbb500;
  padding-top: 50px;
  margin: 0; }

.footer--content {
  margin: 0;
  padding-bottom: 30px; }

.footer--contact-info {
  font-family: 'Libre Franklin', sans-serif;
  font-size: 14px;
  margin: 0;
  padding: 20px 30px;
  text-align: center; }

.footer--social {
  display: inline;
  margin-right: 200px;
  margin-left: 44%; }

.footer--social-media {
  width: 50px;
  padding-bottom: 50px; }

.footer--social-media + .footer--social-media {
  margin-left: 30px; }

.about-me--title {
  color: #008290;
  font-family: 'Sacramento', cursive;
  font-size: 100px;
  padding: 3%;
  margin: 0;
  text-align: center; }

.about-me--img {
  height: 450px;
  margin: 0 auto; }

.about-me--sub-title {
  color: #008290;
  font-family: 'Libre Franklin', sans-serif;
  font-size: 80px;
  font-weight: bold;
  margin-bottom: 3%;
  margin-top: 10%; }

.about-me--info {
  font-size: 18px;
  margin: 0 auto;
  width: 960px; }

.about-me--info-text {
  font-family: 'Libre Franklin', sans-serif;
  letter-spacing: 2px;
  padding-top: 1%; }

.about-me--secction {
  display: inline-block;
  margin-left: 9%;
  margin-top: 2%;
  margin-bottom: 10%;
  width: 40%; }

.about-me--secction:first-child {
  margin-left: 0; }

.dcolora {
  border: 2px solid #008290; }

.dcolora-title {
  color: #008290; }

.dcolora-ul {
  background-color: #008290; }

.dcoloram {
  border: 2px solid #fbb500; }

.dcoloram-title {
  color: #fbb500; }

.dcoloram-ul {
  background-color: #fbb500; }

.about-me--secction-title {
  font-family: 'Libre Franklin', sans-serif;
  font-size: 25px;
  padding: 0;
  text-align: center; }

.about-me--secction-list {
  padding-left: 11%;
  font-family: 'Libre Franklin', sans-serif;
  list-style: none;
  margin: 0; }

.about-me-secction-img {
  margin-left: 34%;
  margin-top: 10%;
  padding: 0;
  width: 30%;
  height: 80px; }

.csize {
  height: 80px; }

.about-me--secction-list-option {
  padding-bottom: 10px;
  padding-top: 10px; }

.works--title {
  font-family: 'Sacramento', cursive;
  font-size: 100px;
  margin: 0;
  text-align: center; }

.works-info {
  margin: 0 auto;
  width: 960px; }

.works--info-list {
  list-style: none; }

.works--info-list-item {
  background-color: #008290;
  display: inline-block;
  height: 300px;
  margin-right: 5%;
  width: 30%; }

.works--info-list-item-yellow {
  background-color: #fbb500;
  display: inline-block;
  height: 300px;
  margin-right: 5%;
  width: 30%; }

.works--info-list-item-img {
  padding-left: 25%;
  padding-top: 10%;
  width: 40%; }

.works--info-list-item-img-yellow {
  padding-left: 25%;
  padding-top: 10%;
  width: 35%; }

.works--info-list-item-texto-yellow {
  background-color: #008290;
  font-family: 'Libre Franklin', sans-serif;
  margin: 10%;
  padding: 10%; }

.works--info-list-item-texto {
  background-color: #fbb500;
  font-family: 'Libre Franklin', sans-serif;
  margin: 10%;
  padding: 10%; }

.works--info-list-item-link-img {
  width: 10%; }

.works--info-list-item-link {
  padding-left: 25%; }

.git-hub {
  background-color: #147587;
  width: 45%;
  height: 1200px; }

.git-hub--title {
  font-family: 'Sacramento', cursive;
  font-size: 100px;
  margin: 0;
  padding-left: 220px;
  padding-top: 400px; }

.git-hub--info {
  float: right;
  height: 1180px;
  margin-top: -1180px;
  margin-right: 50px;
  overflow: scroll;
  width: 50%; }

.git-hub--info::-webkit-scrollbar {
  width: 7px; }

.git-hub--info::-webkit-scrollbar-thumb {
  background-color: white;
  border-radius: 5px; }

body {
  margin: 0;
  padding: 0; }

/*# sourceMappingURL=style.css.map */
